
#image_zoom{
    width: 100%;
    position: fixed;
    height: auto;
    top: 50%;
    left: 50%;
    vertical-align: middle;
    z-index: 200;
    display: none;
}
#image_zoom img.preview{
    border:2px solid #f5f5f5;
    border-radius: 5px;
}
#image_zoom div.image_zoom_wrapper{
    width:100%;
    height:100%;
    position: relative;
}
#image_zoom div.image_zoom_wrapper span.close{
    display: block;
    height: 30px;
    width: 30px;
    overflow: hidden;
    background-image: url('../images/btn.png');
    background-position: -141px -33px;
    cursor: pointer;
    position: absolute;
    right:-15px;
    top:-15px;
}
#image_zoom div.image_zoom_wrapper span.close:hover{
    background-position: -155px -64px;
}
#over_laryer{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    left: 0px;
    top: 0px;
    z-index: 100;
    background-color: #000;
    opacity: 0.5;
    cursor: pointer;
    display: none;
}
#over_laryer .arrow_prev span{
    top:50%;
    left:2px;
    background-image: url('../images/btn.png');
    background-position: -85px 0px;
}
#over_laryer .arrow_prev:hover span{
    background-position: -113px 0px;
}
#over_laryer .arrow_next span{
    background-image: url('../images/btn.png');
    background-position: -85px -45px;
    top:50%;
    right:0;
}
#over_laryer .arrow_next:hover span{
    background-position: -113px -45px;
}
#over_laryer .arrow{
    width:30px;
    height:100%;
    vertical-align: middle;
    border:1px solid red;
}
#over_laryer .arrow span{
    position: absolute;
    z-index: 10;
    width: 27px;
    height: 44px;
    line-height: 150px;
    overflow: hidden;
    display: block;

}
